.movieCardList {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 70px 0 80px;

}

.movieCardList__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 30px;
  column-gap: 24px;
  margin-bottom: 80px;
}

.movieCardList__showmore {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 auto;

  width: 320px;
  height: 36px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.movieCardList__showmore:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .movieCardList__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 580px) {
  .movieCardList{
    padding: 40px 0 80px;
  }
 
  .movieCardList__list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
  }

  .movieCardList__showmore {
    width: 240px;
  }
  
}