.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 90%;
  height: calc( 100vh - 74px );
  max-width: 1140px;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 74px 0 70px;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
}

.profile__form {
  max-width: 410px;
  width: 100%;
  height: 100%;
  margin: 123px auto auto;
  display: flex;
  flex-direction: column;

}

.profile__form-block {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-block:nth-of-type(2) {
   border-bottom: none;
}

.profile__label  {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  order: 1;
  transition: color .2s ease-in;
}

.profile__input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  order: 2;

}


.profile__input:focus~.profile__label {
  color: #2BE080;
}

.profile__error {
  color: #EE3465;
  max-width: 100%;
  margin:  20% auto;
  text-align: center;
  width: auto;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.profile__error_show {
  opacity: 1;
}



.profile__button {
  margin-top: auto;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.profile__button_v_exit {
  color: #EE3465;
  margin-top: 16px;
}

.profile__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 70px 0 40px;
  }
  
}