.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.navigation__links {
  margin: 0 auto 0 44px;
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: #000;
}