.techs {
  width: 100%;

  box-sizing: border-box;
  padding: 100px 0;
}

.techs__title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.04em;
  margin: 90px auto 26px;
  text-align: center;
  color: var(--dark-accent);
}

.techs__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

.techs__list {
  margin: 100px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}

.techs__item {
  background-color: var(--light-bg);
  border: 2px solid var(--light-textcolor);
  width: 90px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  transition: border, color 0.3s ease-in;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

.techs__item:hover {
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 770px) {
  .techs {
    padding: 90px 0;
  }

  .techs__title {
    margin: 80px auto 22px;
  }

  .techs__subtitle {
    max-width: 90%;
  }

  .techs__list {
    flex-wrap: wrap;
    margin: 83px auto 0;
    max-width: 90%;
    row-gap: 10px;

  }

  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }
  
}

@media screen and (max-width: 376px) {
  .techs {
    padding: 70px 0;
  }

  .techs__list {
    max-width: 180px;
    justify-content: flex-start;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  
}




@keyframes neonGlow {
  0% {
    box-shadow: 0 0 5px rgba(255,255,255,.4),
                 0 0 10px rgba(255,255,255,.4),
                 0 0 11px  rgba(255,255,255,.4),
                 0 0 20px  rgba(66,220,219,.4),
                 0 0 30px  rgba(66,220,219,.4),
                 0 0 40px  rgba(66,220,219,.4),
                 0 0 50px rgba(66,220,219,.4),
                 0 0 70px rgba(66,220,219,.3),
                 0 0 100px rgba(66,220,219,.2);
  }
  100% {
    box-shadow:  0 0 2px rgba(255,255,255,.8),
                 0 0 4px rgba(255,255,255,.8),
                 0 0 5px rgba(255,255,255,.8),
                 0 0 10px rgba(66,220,219,.8),
                 0 0 15px rgba(66,220,219,.8),
                 0 0 20px rgba(66,220,219,.8),
                 0 0 30px rgba(66,220,219,.5),
                 0 0 60px rgba(66,220,219,.5);
  }
}

