.aboutMe {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 110px 0 125px;
}


.aboutMe__avatar {
  background-image: url(../../images/avatar.jpg);
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid white;

  box-shadow:  0 0 2px rgba(255,255,255,.4),
               0 0 4px rgba(255,255,255,.4),
               0 0 5px rgba(255,255,255,.4),
               0 0 10px rgba(66,220,219,.4),
               0 0 15px rgba(66,220,219,.4),
               0 0 20px rgba(66,220,219,.4),
               0 0 30px rgba(66,220,219,.3),
               0 0 60px rgba(66,220,219,.1);

}

.aboutMe__about { 
  width: 90%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 65px auto 0;
}

.aboutMe__text {
  max-width: 600px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.aboutMe__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 18px;
}

.aboutMe__job {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 26px;
}

.aboutMe__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 auto;
}

.aboutMe__links {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.aboutMe__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: var(--light-accent);
  opacity: 1;
  transition: color 0.3s ease-in;
}

.aboutMe__link:hover {
color: var(--dark-accent);
}

@media screen and (max-width: 769px) {
  .aboutMe {
    padding: 90px 50px;
  }
}


@media screen and (max-width: 769px) {
  .aboutMe {
    padding: 90px 0 50px;
  }


  .aboutMe__avatar {
    width: 255px;
    height: 307px;
  }

  .aboutMe__text {
    max-width: 344px;
  }

  .aboutMe__name {
    font-size: 40px;
    line-height: 40px;
  }

  .aboutMe__job {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutMe__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 650px) {
  .aboutMe {
    padding: 70px 0;
  }

  
  .aboutMe__about {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    row-gap: 40px;
  }

  .aboutMe__avatar {
    width: 292px;
    height: 352px;
    order: 1;
  }

  .aboutMe__text {
    max-width: 100%;
    width: 100%;
    order: 2;
  }

  .aboutMe__name {
    font-size: 30px;
    line-height: 36px;
  }

  .aboutMe__job {
    font-size: 11px;
    line-height: 16px;
  }

  .aboutMe__description {
    font-size: 11px;
    line-height: 16px;
  }
}
